::selection {
  background: gainsboro;
}

/* always show scrollbars */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

nav {
  position: sticky;
  top: 0;
  border-bottom: 1px dashed black;
  background-color: blanchedalmond;
  padding-top: 0.2em;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
}

nav li {
  list-style: none;
  font-size: 15px;
  margin: 0 0.8em;
}

nav a {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: underline dashed;
}

a:hover, li span:hover {
  background-color: white;
  transition-duration: 0.5s;
}

nav li:hover {
  text-decoration: underline dashed;
  transition-duration: 0.2s;
}

#nav1 {
  grid-column-start: 1;
  grid-column-end: -10;
}

#nav1 a {
  text-decoration: none;
}

#nav2 {
  grid-column-start: -6;
}

#nav3 {
  grid-column-start: -5;
}

#nav4 {
  grid-column-start: -4;
}

#nav5 {
  grid-column-start: -3;
}

#nav6 {
  grid-column-start: -2;
}

p {
  line-height: 2;
}

body {
  font-family: IBM Plex Mono, sans-serif;
  background-color: blanchedalmond;
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

footer {
  width: 100%;
  bottom: 2.5em;
  margin: calc(2vh) 0px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline dashed;
  transition-duration: 0.2s;
}

.content {
  height: calc(89vh);
  overflow-y: auto;
}

.content p {
  margin: calc(3vh) calc(15vw);
}

.content ul {
  margin: calc(3vh) calc(15vw);
  text-align: left;
  line-height: 2;
}

.content li {
  margin-top: 2em;
}

.content ul li ul {
  padding: 0px;
  margin-left: calc(5vw);
  width: 90%;
}

.content img {
  width: 60%;
  margin: 1.5em auto;
}

#app {
  text-align: center;
}

#btns {
  text-align: center;
}

h1 {
  font-family: Karla, sans-serif;
  font-size: 36px;
  margin: 5em auto 1em;
}

button {
  margin: 1em 2.2em 1em;
  padding: 1em;
  font-family: inherit;
  font-size: 15px;
  color: inherit;
  background-color: inherit;
  border: 1px solid black;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: white;
  border: 1px dashed black;
  transition-duration: 0.2s;
}

h3 {
  margin-top: 3em;
}

#card {
  background-color: white;
  border: 1px solid black;
  position: relative;
  height: 30em;
  width: 25em;
  box-sizing: border-box;
  margin: 3em auto 1em;
  padding: 2em 3em;
}

.card-content {
  position: absolute;
  top: 5.8em;
  height: 19em;
  width: 19em;
  overflow-y: auto;
}

.key {
  height: 21em;
}

#card p {
  text-align: left;
  margin: 0em auto 0em;
}

/* card title */
h2 {
  position: absolute;
  top: 0.8em;
  text-align: left;
}

/* card category */
#card h4 {
  position: absolute;
  bottom: 0.8em;
  right: 3em;
}

#card img {
  height: 10em;
  margin: 0px auto 0px 4em;
}

.pseudolink {
  text-decoration: underline dashed;
}

.pseudolink:hover {
  background-color: white;
  transition-duration: 0.5s;
}

.modal {
  background-color: white;
  border: 1px solid black;
  box-shadow: 7px 7px cornsilk;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 90%;
  height: 550px;
  max-height: 90%;
}

.scrollable {
  height: 75%;
  width: 82%;
  overflow-y: auto;
  margin: auto;
  line-height: 2;
  box-sizing: border-box;
}

.scrollable p {
  text-align: left;
}

.scrollable li {
  text-align: left;
}

.close {
  text-align: right;
  position: absolute;
  right: 1.7em;
  top: 1em;
  font-weight: bold;
}

.modal button {
  background-color: seashell;
}

.modal button:hover {
  background-color: cornsilk;
  transition: 0.5s;
}

#background {
  margin-top: 8em;
}

#socials {
  margin: auto;
}

@media only screen and (max-width: 750px) {
  #btns {
    margin-bottom: 5.5rem;;
  }

  nav ul {
    display: block !important;
    text-align: right;
  }

  body {
    zoom: 0.95;
  }

  #nav1 a {
    font-weight: 900;
  }

  #nav, #app, #card, #btns {
    zoom: 0.8;
  }

  h1 {
    margin: 3.5em auto 1em;
  }
}

@media only screen and (min-width: 450px) and (max-width: 750px) {
  #nav1 a {
    position: absolute;
    top: 7vh;
    left: 3vw;
  }
}

@media only screen and (max-width: 600px) {
  #nav, #app, #card, #btns {
    zoom: 0.75;
  }

  h1 {
    margin: 3em auto 1em;
  }

  #btns {
    padding-bottom: 7rem;;
  }
}

@media only screen and (max-width: 400px) {
  #nav1 a {
    position: relative
  }

  #app, #card, #btns {
    zoom: 0.7;
  }

  #nav {
    zoom: 0.6;
  }

  #btns {
    margin-bottom: 8rem;;
  }

  h1 {
    margin: 2em auto 1em;
  }
}
