<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="description"
      content="
			Conversations for Every Dinner Table is a resource that aims to support the power of individuals to provoke open and healthy discussions on how to achieve better lives for their families and their communities.
			"
    />

    <link rel="stylesheet" href="/style.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Karla"
    />
  </head>

  <body>
    <nav>
      <ul>
        <li id="nav1"><a href="/">Conversations For Every Dinner Table</a></li>
        <li id="nav2"><a href="/views/about.html">About</a></li>
        <li id="nav3"><a href="/views/instructions.html">Instructions</a></li>
      </ul>
    </nav>
    <div id="app">
      <h3>About</h3>

      <p>
        In 1994, 12 black women coined the term reproductive justice. It is "the
        complete physical, mental, spiritual, political, social, and economic
        well-being of women and girls, based on the full achievement and
        protection of women’s human rights" as Loretta Ross describes. Fighting
        against reproductive oppression and misinformation is essential for our
        liberation.
      </p>

      <p>
        Perfect Conversations for Every Dinner Table is a resource that aims to
        support the power of individuals to provoke open and healthy discussions
        on how to achieve better lives for their families and their communities.
        Start a meaningful and shameless conversation by picking a card.
      </p>
    </div>
  </body>
</html>
